html
  head
    title File Metadata Microservice
  body
    h1 Free Code Camp: File Metadata Microservice
    p Submit a file to views its size.
      form(action="/", method="post", enctype="multipart/form-data")
        input(type="file", name="upload")
        input(type="submit")
